@import "tailwindcss";

/* Theming with tailwind css */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-ek-desert: #F7EDCA;
  --color-ek-blue: #0339A7;
  --color-ek-hover: #DDD4B5;
  --color-ek-text-grey: #5C5F66;
  --color-ek-bg: #f1f3f5;



  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Mantine Select component has no border-radius and a black bottom border. Custom override */
.mantine-Select-option {
  border-bottom: 1px solid rgb(194, 194, 194);
  border-radius: 0% !important;
}